nav{
    background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav .logo{
    color: coral;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    padding: 5px 30px;
    font-size: x-large;
}

nav .navItem ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav .navItem ul li{
    font-size: large;
    padding: 5px 20px;
}

nav .navItem ul li:hover{
    background-color: coral;
    border-radius: 20px;
    color: antiquewhite;
    margin: 1px;
}